@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style72 {
    color: #fff;
    font-size: .25em;
    margin-left: 216px;
    margin-top: 18px;
    height: 3px
  }
  .style70,
  .style71,
  .style72 {
    font-family: 'Titillium Web',serif
  }
  .style71 {
    text-align: center;
    line-height: 17px;
    width: 236px;
    color: #f7f3ea;
    font-size: .625em;
    font-weight: 700;
    margin-left: 70px;
    margin-top: 41px
  }
  .style70 {
    color: #fff;
    font-size: .3125em;
    font-weight: 600;
    margin-left: 171px;
    margin-top: 21px;
    height: 4px
  }
  .style68,
  .style69 {
    color: #fff;
    text-align: center;
    font-family: arialmt,serif
  }
  .style69 {
    letter-spacing: 1px;
    height: 8px;
    font-size: .5625em;
    margin-left: 126px;
    margin-top: 76px
  }
  .style68 {
    font-size: .3125em;
    line-height: 8px;
    margin-left: 109px;
    margin-top: 13px;
    width: 157px
  }
  .row5 {
    display: flex;
    margin-left: 63px;
    margin-top: 70px;
    width: 258px;
    height: 5px;
    align-items: stretch
  }
  .style61,
  .style63,
  .style65,
  .style67 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .375em;
    margin-left: 0
  }
  .style61,
  .style63,
  .style65 {
    margin-left: 47px
  }
  .style61,
  .style63 {
    margin-left: 41px
  }
  .style61 {
    margin-left: 28px
  }
  .row6 {
    display: flex;
    margin-left: 53px;
    margin-top: 7px;
    width: 268px;
    height: 17px;
    align-items: stretch
  }
  .style60,
  .style62,
  .style64,
  .style66 {
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web',serif;
    font-size: .25em;
    font-weight: 300;
    line-height: 7px;
    margin-left: 0;
    width: 50px
  }
  .style60,
  .style62,
  .style64 {
    margin-left: 25px;
    width: 45px
  }
  .style60,
  .style62 {
    width: 51px
  }
  .style60 {
    margin-left: 23px;
    width: 49px
  }
  .style58,
  .style59 {
    color: #3c4761;
    text-align: center
  }
  .style59 {
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Titillium Web',serif;
    font-size: .625em;
    margin-left: 112px;
    margin-top: 64px;
    height: 8px
  }
  .style58 {
    font-family: arialmt,serif;
    font-size: .3125em;
    margin-left: 104px;
    margin-top: 13px;
    height: 5px
  }
  .row9 {
    display: flex;
    margin-left: 53px;
    margin-top: 83px;
    width: 268px;
    height: 5px;
    align-items: stretch
  }
  .style48,
  .style51,
  .style54,
  .style57 {
    color: #27283d;
    font-family: 'Titillium Web',serif;
    font-size: .375em;
    font-weight: 700;
    margin-left: 0
  }
  .style48,
  .style51,
  .style54 {
    color: #3c4761;
    margin-left: 30px
  }
  .style48,
  .style51 {
    margin-left: 36px
  }
  .style48 {
    margin-left: 32px
  }
  .row10 {
    position: relative;
    display: flex;
    margin-left: 58px;
    margin-top: 4px;
    width: 255px;
    height: 4px;
    align-items: stretch
  }
  .style47,
  .style50,
  .style53,
  .style56 {
    color: #30bae7;
    text-align: center;
    font-family: 'Titillium Web',serif;
    font-size: .25em;
    margin-left: 0;
    flex-shrink: 0
  }
  .style47,
  .style50,
  .style53 {
    margin-left: 37px
  }
  .style47,
  .style50 {
    position: relative;
    margin-left: 45px
  }
  .style47 {
    margin-left: 46px
  }
  .row11 {
    display: flex;
    margin-left: 53px;
    margin-top: 7px;
    width: 268px;
    height: 29px;
    align-items: stretch
  }
  .style52,
  .style55 {
    color: #3c4761;
    text-align: center;
    width: 51px
  }
  .style55 {
    font-family: 'Titillium Web',serif;
    font-size: .25em;
    font-weight: 300;
    line-height: 7px;
    margin-left: 0
  }
  .style52 {
    margin-left: 22px
  }
  .style46,
  .style49,
  .style52 {
    font-family: 'Titillium Web',serif;
    font-size: .25em;
    font-weight: 300;
    line-height: 7px
  }
  .style49 {
    color: #3c4761;
    text-align: center;
    margin-left: 21px;
    width: 53px
  }
  .style46 {
    margin-left: 25px;
    width: 45px
  }
  .style44,
  .style45,
  .style46 {
    color: #3c4761;
    text-align: center
  }
  .style45 {
    font-weight: 700;
    letter-spacing: 1px;
    height: 8px;
    font-family: 'Titillium Web',serif;
    font-size: .5625em;
    margin-left: 145px;
    margin-top: 80px
  }
  .style44 {
    font-family: arialmt,serif;
    font-size: .3125em;
    line-height: 8px;
    margin-left: 114px;
    margin-top: 13px;
    width: 148px
  }
  .row14 {
    display: flex;
    margin-left: 70px;
    margin-top: 38px;
    width: 238px;
    height: 9px;
    align-items: stretch;
    justify-content: space-between
  }
  .style37,
  .style39,
  .style41,
  .style43 {
    color: #3c4761;
    font-family: 'Titillium Web',serif;
    font-size: .75em;
    font-weight: 300
  }
  .row15 {
    display: flex;
    margin-left: 60px;
    margin-top: 24px;
    width: 247px;
    height: 5px;
    align-items: stretch
  }
  .style36,
  .style38,
  .style40,
  .style42 {
    color: #3c4761;
    font-family: 'Titillium Web',serif;
    font-size: .375em;
    font-weight: 700;
    margin-left: 0
  }
  .style38,
  .style40,
  .style42 {
    margin-left: 39px
  }
  .style40,
  .style42 {
    margin-left: 33px
  }
  .style42 {
    margin-left: 39px
  }
  .style34,
  .style35 {
    color: #393939;
    text-align: center
  }
  .style35 {
    font-weight: 700;
    letter-spacing: 1px;
    height: 8px;
    font-family: 'Titillium Web',serif;
    font-size: .5625em;
    margin-left: 145px;
    margin-top: 63px
  }
  .style34 {
    font-family: arialmt,serif;
    font-size: .3125em;
    line-height: 8px;
    margin-left: 121px;
    margin-top: 13px;
    width: 134px
  }
  .row18 {
    display: flex;
    margin-left: 146px;
    margin-top: 14px;
    width: 86px;
    height: 4px;
    align-items: stretch
  }
  .style30,
  .style31,
  .style32,
  .style33 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: .3125em;
    margin-left: 0
  }
  .style30,
  .style31,
  .style32 {
    margin-left: 16px
  }
  .style30,
  .style31 {
    margin-left: 15px
  }
  .style30 {
    margin-left: 14px
  }
  .row19 {
    display: flex;
    margin-left: 44px;
    margin-top: 19px;
    width: 287px;
    height: 81px;
    align-items: stretch
  }
  .style27,
  .style29 {
    margin-left: 0;
    width: 141px
  }
  .style27 {
    margin-left: 5px
  }
  .row20 {
    display: flex;
    margin-left: 78px;
    margin-top: 8px;
    width: 201px;
    height: 4px;
    align-items: stretch
  }
  .style26,
  .style28 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: .3125em;
    margin-left: 0
  }
  .style26 {
    margin-left: 88px
  }
  .row21 {
    display: flex;
    margin-left: 45px;
    margin-top: 17px;
    width: 287px;
    height: 81px;
    align-items: stretch
  }
  .style23,
  .style25 {
    margin-left: 0;
    width: 141px
  }
  .style23 {
    margin-left: 5px
  }
  .row22 {
    display: flex;
    margin-left: 87px;
    margin-top: 8px;
    width: 207px;
    height: 4px;
    align-items: stretch
  }
  .style21,
  .style22,
  .style24 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: .3125em;
    margin-left: 0
  }
  .style21,
  .style22 {
    margin-left: 94px
  }
  .style21 {
    color: #fff;
    font-weight: 600;
    margin-left: 165px;
    margin-top: 29px;
    height: 4px
  }
  .style19,
  .style20 {
    color: #fff;
    text-align: center;
    font-family: arialmt,serif
  }
  .style20 {
    letter-spacing: 1px;
    font-size: .5625em;
    margin-left: 109px;
    margin-top: 66px;
    height: 8px
  }
  .style19 {
    font-size: .3125em;
    margin-left: 168px;
    margin-top: 13px;
    height: 4px
  }
  .row26 {
    display: flex;
    margin-left: 82px;
    margin-top: 21px;
    width: 244px;
    height: 22px;
    align-items: stretch
  }
  .style15,
  .style18 {
    color: #fff;
    font-family: 'Titillium Web',serif;
    font-size: .3125em;
    font-weight: 300;
    line-height: 10px;
    font-style: italic;
    margin-left: 0;
    width: 85px
  }
  .style15 {
    margin-left: 68px;
    width: 91px
  }
  .row27 {
    display: flex;
    margin-left: 82px;
    margin-top: 7px;
    width: 194px;
    height: 5px;
    align-items: stretch
  }
  .style14,
  .style17 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .375em;
    margin-left: 0
  }
  .style14 {
    margin-left: 114px
  }
  .row28 {
    display: flex;
    margin-left: 82px;
    margin-top: 2px;
    width: 197px;
    height: 5px;
    align-items: stretch
  }
  .style13,
  .style16 {
    color: #fd9;
    font-family: arialmt,serif;
    font-size: .3125em;
    margin-left: 0
  }
  .style13 {
    margin-left: 119px
  }
  .row29 {
    display: flex;
    margin-left: 82px;
    margin-top: 40px;
    width: 249px;
    height: 22px;
    align-items: stretch
  }
  .style12,
  .style9 {
    color: #fff;
    font-family: 'Titillium Web',serif;
    font-size: .3125em;
    font-weight: 300;
    line-height: 10px;
    font-style: italic;
    margin-left: 0;
    width: 91px
  }
  .style9 {
    margin-left: 62px;
    width: 96px
  }
  .row30 {
    display: flex;
    margin-left: 82px;
    margin-top: 8px;
    width: 191px;
    height: 5px;
    align-items: stretch
  }
  .style11,
  .style8 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .375em;
    margin-left: 0
  }
  .style8 {
    margin-left: 102px
  }
  .row31 {
    display: flex;
    margin-left: 82px;
    margin-top: 2px;
    width: 200px;
    height: 5px;
    align-items: stretch
  }
  .style10 {
    color: #fd9;
    font-size: .3125em;
    margin-left: 0
  }
  .style10,
  .style5,
  .style6,
  .style7 {
    font-family: arialmt,serif
  }
  .style7 {
    font-size: .3125em;
    margin-left: 99px;
    color: #fd9
  }
  .style5,
  .style6 {
    color: #fff;
    text-align: center
  }
  .style6 {
    letter-spacing: 1px;
    font-size: .5625em;
    margin-left: 150px;
    margin-top: 65px;
    height: 8px
  }
  .style5 {
    font-size: .3125em;
    margin-left: 86px;
    margin-top: 13px;
    height: 5px
  }
  .row34 {
    display: flex;
    margin-left: 82px;
    margin-top: 25px;
    width: 139px;
    height: 4px;
    align-items: stretch
  }
  .style0,
  .style1,
  .style2,
  .style3,
  .style4 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .3125em;
    margin-left: 0
  }
  .style0,
  .style1,
  .style2,
  .style4 {
    margin-left: 92px
  }
  .style0,
  .style1,
  .style2 {
    margin-left: 82px;
    margin-top: 18px;
    height: 5px
  }
  .style0,
  .style1 {
    font-family: 'Titillium Web',serif;
    font-weight: 600;
    margin-left: 172px;
    margin-top: 64px;
    height: 4px
  }
  .style0 {
    text-align: center;
    font-size: .375em;
    margin-left: 65px;
    margin-top: 50px;
    height: 6px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style72 {
    color: #fff;
    font-size: .512em;
    margin-left: 442px;
    margin-top: 37px;
    height: 6px
  }
  .style70,
  .style71,
  .style72 {
    font-family: 'Titillium Web',serif
  }
  .style71 {
    text-align: center;
    line-height: 35px;
    width: 483px;
    color: #f7f3ea;
    font-size: 1.28em;
    font-weight: 700;
    margin-left: 143px;
    margin-top: 84px
  }
  .style70 {
    color: #fff;
    font-size: .64em;
    font-weight: 600;
    margin-left: 350px;
    margin-top: 43px;
    height: 8px
  }
  .style68,
  .style69 {
    color: #fff;
    text-align: center;
    font-family: arialmt,serif
  }
  .style69 {
    letter-spacing: 2px;
    height: 16px;
    font-size: 1.1520000000000001em;
    margin-left: 258px;
    margin-top: 156px
  }
  .style68 {
    font-size: .64em;
    line-height: 16px;
    margin-left: 223px;
    margin-top: 27px;
    width: 322px
  }
  .row5 {
    display: flex;
    margin-left: 129px;
    margin-top: 143px;
    width: 528px;
    height: 10px;
    align-items: stretch
  }
  .style61,
  .style63,
  .style65,
  .style67 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .768em;
    margin-left: 0
  }
  .style61,
  .style63,
  .style65 {
    margin-left: 96px
  }
  .style61,
  .style63 {
    margin-left: 84px
  }
  .style61 {
    margin-left: 57px
  }
  .row6 {
    display: flex;
    margin-left: 109px;
    margin-top: 14px;
    width: 549px;
    height: 35px;
    align-items: stretch
  }
  .style60,
  .style62,
  .style64,
  .style66 {
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web',serif;
    font-size: .512em;
    font-weight: 300;
    line-height: 14px;
    margin-left: 0;
    width: 102px
  }
  .style60,
  .style62,
  .style64 {
    margin-left: 51px;
    width: 92px
  }
  .style60,
  .style62 {
    width: 104px
  }
  .style60 {
    margin-left: 47px;
    width: 100px
  }
  .style58,
  .style59 {
    color: #3c4761;
    text-align: center
  }
  .style59 {
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Titillium Web',serif;
    font-size: 1.28em;
    margin-left: 229px;
    margin-top: 131px;
    height: 16px
  }
  .style58 {
    font-family: arialmt,serif;
    font-size: .64em;
    margin-left: 213px;
    margin-top: 27px;
    height: 10px
  }
  .row9 {
    display: flex;
    margin-left: 109px;
    margin-top: 170px;
    width: 549px;
    height: 10px;
    align-items: stretch
  }
  .style48,
  .style51,
  .style54,
  .style57 {
    color: #27283d;
    font-family: 'Titillium Web',serif;
    font-size: .768em;
    font-weight: 700;
    margin-left: 0
  }
  .style48,
  .style51,
  .style54 {
    color: #3c4761;
    margin-left: 61px
  }
  .style48,
  .style51 {
    margin-left: 74px
  }
  .style48 {
    margin-left: 66px
  }
  .row10 {
    position: relative;
    display: flex;
    margin-left: 119px;
    margin-top: 8px;
    width: 522px;
    height: 8px;
    align-items: stretch
  }
  .style47,
  .style50,
  .style53,
  .style56 {
    color: #30bae7;
    text-align: center;
    font-family: 'Titillium Web',serif;
    font-size: .512em;
    margin-left: 0;
    flex-shrink: 0
  }
  .style47,
  .style50,
  .style53 {
    margin-left: 76px
  }
  .style47,
  .style50 {
    position: relative;
    margin-left: 92px
  }
  .style47 {
    margin-left: 94px
  }
  .row11 {
    display: flex;
    margin-left: 109px;
    margin-top: 14px;
    width: 549px;
    height: 59px;
    align-items: stretch
  }
  .style52,
  .style55 {
    color: #3c4761;
    text-align: center;
    width: 104px
  }
  .style55 {
    font-family: 'Titillium Web',serif;
    font-size: .512em;
    font-weight: 300;
    line-height: 14px;
    margin-left: 0
  }
  .style52 {
    margin-left: 45px
  }
  .style46,
  .style49,
  .style52 {
    font-family: 'Titillium Web',serif;
    font-size: .512em;
    font-weight: 300;
    line-height: 14px
  }
  .style49 {
    color: #3c4761;
    text-align: center;
    margin-left: 43px;
    width: 109px
  }
  .style46 {
    margin-left: 51px;
    width: 92px
  }
  .style44,
  .style45,
  .style46 {
    color: #3c4761;
    text-align: center
  }
  .style45 {
    font-weight: 700;
    letter-spacing: 2px;
    height: 16px;
    font-family: 'Titillium Web',serif;
    font-size: 1.1520000000000001em;
    margin-left: 297px;
    margin-top: 164px
  }
  .style44 {
    font-family: arialmt,serif;
    font-size: .64em;
    line-height: 16px;
    margin-left: 233px;
    margin-top: 27px;
    width: 303px
  }
  .row14 {
    display: flex;
    margin-left: 143px;
    margin-top: 78px;
    width: 487px;
    height: 18px;
    align-items: stretch;
    justify-content: space-between
  }
  .style37,
  .style39,
  .style41,
  .style43 {
    color: #3c4761;
    font-family: 'Titillium Web',serif;
    font-size: 1.536em;
    font-weight: 300
  }
  .row15 {
    display: flex;
    margin-left: 123px;
    margin-top: 49px;
    width: 506px;
    height: 10px;
    align-items: stretch
  }
  .style36,
  .style38,
  .style40,
  .style42 {
    color: #3c4761;
    font-family: 'Titillium Web',serif;
    font-size: .768em;
    font-weight: 700;
    margin-left: 0
  }
  .style38,
  .style40,
  .style42 {
    margin-left: 80px
  }
  .style40,
  .style42 {
    margin-left: 68px
  }
  .style42 {
    margin-left: 80px
  }
  .style34,
  .style35 {
    color: #393939;
    text-align: center
  }
  .style35 {
    font-weight: 700;
    letter-spacing: 2px;
    height: 16px;
    font-family: 'Titillium Web',serif;
    font-size: 1.1520000000000001em;
    margin-left: 297px;
    margin-top: 129px
  }
  .style34 {
    font-family: arialmt,serif;
    font-size: .64em;
    line-height: 16px;
    margin-left: 248px;
    margin-top: 27px;
    width: 274px
  }
  .row18 {
    display: flex;
    margin-left: 299px;
    margin-top: 29px;
    width: 176px;
    height: 8px;
    align-items: stretch
  }
  .style30,
  .style31,
  .style32,
  .style33 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: .64em;
    margin-left: 0
  }
  .style30,
  .style31,
  .style32 {
    margin-left: 33px
  }
  .style30,
  .style31 {
    margin-left: 31px
  }
  .style30 {
    margin-left: 29px
  }
  .row19 {
    display: flex;
    margin-left: 90px;
    margin-top: 39px;
    width: 588px;
    height: 166px;
    align-items: stretch
  }
  .style27,
  .style29 {
    margin-left: 0;
    width: 289px
  }
  .style27 {
    margin-left: 10px
  }
  .row20 {
    display: flex;
    margin-left: 160px;
    margin-top: 16px;
    width: 412px;
    height: 8px;
    align-items: stretch
  }
  .style26,
  .style28 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: .64em;
    margin-left: 0
  }
  .style26 {
    margin-left: 180px
  }
  .row21 {
    display: flex;
    margin-left: 92px;
    margin-top: 35px;
    width: 588px;
    height: 166px;
    align-items: stretch
  }
  .style23,
  .style25 {
    margin-left: 0;
    width: 289px
  }
  .style23 {
    margin-left: 10px
  }
  .row22 {
    display: flex;
    margin-left: 178px;
    margin-top: 16px;
    width: 424px;
    height: 8px;
    align-items: stretch
  }
  .style21,
  .style22,
  .style24 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: .64em;
    margin-left: 0
  }
  .style21,
  .style22 {
    margin-left: 193px
  }
  .style21 {
    color: #fff;
    font-weight: 600;
    margin-left: 338px;
    margin-top: 59px;
    height: 8px
  }
  .style19,
  .style20 {
    color: #fff;
    text-align: center;
    font-family: arialmt,serif
  }
  .style20 {
    letter-spacing: 2px;
    font-size: 1.1520000000000001em;
    margin-left: 223px;
    margin-top: 135px;
    height: 16px
  }
  .style19 {
    font-size: .64em;
    margin-left: 344px;
    margin-top: 27px;
    height: 8px
  }
  .row26 {
    display: flex;
    margin-left: 168px;
    margin-top: 43px;
    width: 500px;
    height: 45px;
    align-items: stretch
  }
  .style15,
  .style18 {
    color: #fff;
    font-family: 'Titillium Web',serif;
    font-size: .64em;
    font-weight: 300;
    line-height: 20px;
    font-style: italic;
    margin-left: 0;
    width: 174px
  }
  .style15 {
    margin-left: 139px;
    width: 186px
  }
  .row27 {
    display: flex;
    margin-left: 168px;
    margin-top: 14px;
    width: 397px;
    height: 10px;
    align-items: stretch
  }
  .style14,
  .style17 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .768em;
    margin-left: 0
  }
  .style14 {
    margin-left: 233px
  }
  .row28 {
    display: flex;
    margin-left: 168px;
    margin-top: 4px;
    width: 403px;
    height: 10px;
    align-items: stretch
  }
  .style13,
  .style16 {
    color: #fd9;
    font-family: arialmt,serif;
    font-size: .64em;
    margin-left: 0
  }
  .style13 {
    margin-left: 244px
  }
  .row29 {
    display: flex;
    margin-left: 168px;
    margin-top: 82px;
    width: 510px;
    height: 45px;
    align-items: stretch
  }
  .style12,
  .style9 {
    color: #fff;
    font-family: 'Titillium Web',serif;
    font-size: .64em;
    font-weight: 300;
    line-height: 20px;
    font-style: italic;
    margin-left: 0;
    width: 186px
  }
  .style9 {
    margin-left: 127px;
    width: 197px
  }
  .row30 {
    display: flex;
    margin-left: 168px;
    margin-top: 16px;
    width: 391px;
    height: 10px;
    align-items: stretch
  }
  .style11,
  .style8 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .768em;
    margin-left: 0
  }
  .style8 {
    margin-left: 209px
  }
  .row31 {
    display: flex;
    margin-left: 168px;
    margin-top: 4px;
    width: 410px;
    height: 10px;
    align-items: stretch
  }
  .style10 {
    color: #fd9;
    font-size: .64em;
    margin-left: 0
  }
  .style10,
  .style5,
  .style6,
  .style7 {
    font-family: arialmt,serif
  }
  .style7 {
    font-size: .64em;
    margin-left: 203px;
    color: #fd9
  }
  .style5,
  .style6 {
    color: #fff;
    text-align: center
  }
  .style6 {
    letter-spacing: 2px;
    font-size: 1.1520000000000001em;
    margin-left: 307px;
    margin-top: 133px;
    height: 16px
  }
  .style5 {
    font-size: .64em;
    margin-left: 176px;
    margin-top: 27px;
    height: 10px
  }
  .row34 {
    display: flex;
    margin-left: 168px;
    margin-top: 51px;
    width: 285px;
    height: 8px;
    align-items: stretch
  }
  .style0,
  .style1,
  .style2,
  .style3,
  .style4 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .64em;
    margin-left: 0
  }
  .style0,
  .style1,
  .style2,
  .style4 {
    margin-left: 188px
  }
  .style0,
  .style1,
  .style2 {
    margin-left: 168px;
    margin-top: 37px;
    height: 10px
  }
  .style0,
  .style1 {
    font-family: 'Titillium Web',serif;
    font-weight: 600;
    margin-left: 352px;
    margin-top: 131px;
    height: 8px
  }
  .style0 {
    text-align: center;
    font-size: .768em;
    margin-left: 133px;
    margin-top: 102px;
    height: 12px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style72 {
    color: #fff;
    font-size: .6133333333333333em;
    margin-left: 530px;
    margin-top: 44px;
    height: 7px
  }
  .style70,
  .style71,
  .style72 {
    font-family: 'Titillium Web',serif
  }
  .style71 {
    text-align: center;
    line-height: 42px;
    width: 579px;
    color: #f7f3ea;
    font-size: 1.5333333333333332em;
    font-weight: 700;
    margin-left: 172px;
    margin-top: 101px
  }
  .style70 {
    color: #fff;
    font-size: .7666666666666666em;
    font-weight: 600;
    margin-left: 420px;
    margin-top: 52px;
    height: 10px
  }
  .style68,
  .style69 {
    color: #fff;
    text-align: center;
    font-family: arialmt,serif
  }
  .style69 {
    letter-spacing: 2px;
    height: 20px;
    font-size: 1.38em;
    margin-left: 309px;
    margin-top: 186px
  }
  .style68 {
    font-size: .7666666666666666em;
    line-height: 20px;
    margin-left: 267px;
    margin-top: 32px;
    width: 385px
  }
  .row5 {
    display: flex;
    margin-left: 155px;
    margin-top: 172px;
    width: 633px;
    height: 12px;
    align-items: stretch
  }
  .style61,
  .style63,
  .style65,
  .style67 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .9199999999999999em;
    margin-left: 0
  }
  .style61,
  .style63,
  .style65 {
    margin-left: 115px
  }
  .style61,
  .style63 {
    margin-left: 101px
  }
  .style61 {
    margin-left: 69px
  }
  .row6 {
    display: flex;
    margin-left: 130px;
    margin-top: 17px;
    width: 657px;
    height: 42px;
    align-items: stretch
  }
  .style60,
  .style62,
  .style64,
  .style66 {
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web',serif;
    font-size: .6133333333333333em;
    font-weight: 300;
    line-height: 17px;
    margin-left: 0;
    width: 123px
  }
  .style60,
  .style62,
  .style64 {
    margin-left: 61px;
    width: 110px
  }
  .style60,
  .style62 {
    width: 125px
  }
  .style60 {
    margin-left: 56px;
    width: 120px
  }
  .style58,
  .style59 {
    color: #3c4761;
    text-align: center
  }
  .style59 {
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Titillium Web',serif;
    font-size: 1.5333333333333332em;
    margin-left: 275px;
    margin-top: 157px;
    height: 20px
  }
  .style58 {
    font-family: arialmt,serif;
    font-size: .7666666666666666em;
    margin-left: 255px;
    margin-top: 32px;
    height: 12px
  }
  .row9 {
    display: flex;
    margin-left: 130px;
    margin-top: 204px;
    width: 657px;
    height: 12px;
    align-items: stretch
  }
  .style48,
  .style51,
  .style54,
  .style57 {
    color: #27283d;
    font-family: 'Titillium Web',serif;
    font-size: .9199999999999999em;
    font-weight: 700;
    margin-left: 0
  }
  .style48,
  .style51,
  .style54 {
    color: #3c4761;
    margin-left: 74px
  }
  .style48,
  .style51 {
    margin-left: 88px
  }
  .style48 {
    margin-left: 79px
  }
  .row10 {
    position: relative;
    display: flex;
    margin-left: 142px;
    margin-top: 10px;
    width: 626px;
    height: 10px;
    align-items: stretch
  }
  .style47,
  .style50,
  .style53,
  .style56 {
    color: #30bae7;
    text-align: center;
    font-family: 'Titillium Web',serif;
    font-size: .6133333333333333em;
    margin-left: 0;
    flex-shrink: 0
  }
  .style47,
  .style50,
  .style53 {
    margin-left: 91px
  }
  .style47,
  .style50 {
    position: relative;
    margin-left: 110px
  }
  .style47 {
    margin-left: 113px
  }
  .row11 {
    display: flex;
    margin-left: 130px;
    margin-top: 17px;
    width: 657px;
    height: 71px;
    align-items: stretch
  }
  .style52,
  .style55 {
    color: #3c4761;
    text-align: center;
    width: 125px
  }
  .style55 {
    font-family: 'Titillium Web',serif;
    font-size: .6133333333333333em;
    font-weight: 300;
    line-height: 17px;
    margin-left: 0
  }
  .style52 {
    margin-left: 54px
  }
  .style46,
  .style49,
  .style52 {
    font-family: 'Titillium Web',serif;
    font-size: .6133333333333333em;
    font-weight: 300;
    line-height: 17px
  }
  .style49 {
    color: #3c4761;
    text-align: center;
    margin-left: 52px;
    width: 130px
  }
  .style46 {
    margin-left: 61px;
    width: 110px
  }
  .style44,
  .style45,
  .style46 {
    color: #3c4761;
    text-align: center
  }
  .style45 {
    font-weight: 700;
    letter-spacing: 2px;
    height: 20px;
    font-family: 'Titillium Web',serif;
    font-size: 1.38em;
    margin-left: 356px;
    margin-top: 196px
  }
  .style44 {
    font-family: arialmt,serif;
    font-size: .7666666666666666em;
    line-height: 20px;
    margin-left: 280px;
    margin-top: 32px;
    width: 363px
  }
  .row14 {
    display: flex;
    margin-left: 172px;
    margin-top: 93px;
    width: 584px;
    height: 22px;
    align-items: stretch;
    justify-content: space-between
  }
  .style37,
  .style39,
  .style41,
  .style43 {
    color: #3c4761;
    font-family: 'Titillium Web',serif;
    font-size: 1.8399999999999999em;
    font-weight: 300
  }
  .row15 {
    display: flex;
    margin-left: 147px;
    margin-top: 59px;
    width: 606px;
    height: 12px;
    align-items: stretch
  }
  .style36,
  .style38,
  .style40,
  .style42 {
    color: #3c4761;
    font-family: 'Titillium Web',serif;
    font-size: .9199999999999999em;
    font-weight: 700;
    margin-left: 0
  }
  .style38,
  .style40,
  .style42 {
    margin-left: 96px
  }
  .style40,
  .style42 {
    margin-left: 81px
  }
  .style42 {
    margin-left: 96px
  }
  .style34,
  .style35 {
    color: #393939;
    text-align: center
  }
  .style35 {
    font-weight: 700;
    letter-spacing: 2px;
    height: 20px;
    font-family: 'Titillium Web',serif;
    font-size: 1.38em;
    margin-left: 356px;
    margin-top: 155px
  }
  .style34 {
    font-family: arialmt,serif;
    font-size: .7666666666666666em;
    line-height: 20px;
    margin-left: 297px;
    margin-top: 32px;
    width: 329px
  }
  .row18 {
    display: flex;
    margin-left: 358px;
    margin-top: 34px;
    width: 211px;
    height: 10px;
    align-items: stretch
  }
  .style30,
  .style31,
  .style32,
  .style33 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: .7666666666666666em;
    margin-left: 0
  }
  .style30,
  .style31,
  .style32 {
    margin-left: 39px
  }
  .style30,
  .style31 {
    margin-left: 37px
  }
  .style30 {
    margin-left: 34px
  }
  .row19 {
    display: flex;
    margin-left: 108px;
    margin-top: 47px;
    width: 704px;
    height: 199px;
    align-items: stretch
  }
  .style27,
  .style29 {
    margin-left: 0;
    width: 346px
  }
  .style27 {
    margin-left: 12px
  }
  .row20 {
    display: flex;
    margin-left: 191px;
    margin-top: 20px;
    width: 493px;
    height: 10px;
    align-items: stretch
  }
  .style26,
  .style28 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: .7666666666666666em;
    margin-left: 0
  }
  .style26 {
    margin-left: 216px
  }
  .row21 {
    display: flex;
    margin-left: 110px;
    margin-top: 42px;
    width: 704px;
    height: 199px;
    align-items: stretch
  }
  .style23,
  .style25 {
    margin-left: 0;
    width: 346px
  }
  .style23 {
    margin-left: 12px
  }
  .row22 {
    display: flex;
    margin-left: 213px;
    margin-top: 20px;
    width: 508px;
    height: 10px;
    align-items: stretch
  }
  .style21,
  .style22,
  .style24 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: .7666666666666666em;
    margin-left: 0
  }
  .style21,
  .style22 {
    margin-left: 231px
  }
  .style21 {
    color: #fff;
    font-weight: 600;
    margin-left: 405px;
    margin-top: 71px;
    height: 10px
  }
  .style19,
  .style20 {
    color: #fff;
    text-align: center;
    font-family: arialmt,serif
  }
  .style20 {
    letter-spacing: 2px;
    font-size: 1.38em;
    margin-left: 267px;
    margin-top: 162px;
    height: 20px
  }
  .style19 {
    font-size: .7666666666666666em;
    margin-left: 412px;
    margin-top: 32px;
    height: 10px
  }
  .row26 {
    display: flex;
    margin-left: 201px;
    margin-top: 52px;
    width: 599px;
    height: 54px;
    align-items: stretch
  }
  .style15,
  .style18 {
    color: #fff;
    font-family: 'Titillium Web',serif;
    font-size: .7666666666666666em;
    font-weight: 300;
    line-height: 25px;
    font-style: italic;
    margin-left: 0;
    width: 209px
  }
  .style15 {
    margin-left: 167px;
    width: 223px
  }
  .row27 {
    display: flex;
    margin-left: 201px;
    margin-top: 17px;
    width: 476px;
    height: 12px;
    align-items: stretch
  }
  .style14,
  .style17 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .9199999999999999em;
    margin-left: 0
  }
  .style14 {
    margin-left: 280px
  }
  .row28 {
    display: flex;
    margin-left: 201px;
    margin-top: 5px;
    width: 483px;
    height: 12px;
    align-items: stretch
  }
  .style13,
  .style16 {
    color: #fd9;
    font-family: arialmt,serif;
    font-size: .7666666666666666em;
    margin-left: 0
  }
  .style13 {
    margin-left: 292px
  }
  .row29 {
    display: flex;
    margin-left: 201px;
    margin-top: 98px;
    width: 611px;
    height: 54px;
    align-items: stretch
  }
  .style12,
  .style9 {
    color: #fff;
    font-family: 'Titillium Web',serif;
    font-size: .7666666666666666em;
    font-weight: 300;
    line-height: 25px;
    font-style: italic;
    margin-left: 0;
    width: 223px
  }
  .style9 {
    margin-left: 152px;
    width: 236px
  }
  .row30 {
    display: flex;
    margin-left: 201px;
    margin-top: 20px;
    width: 469px;
    height: 12px;
    align-items: stretch
  }
  .style11,
  .style8 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .9199999999999999em;
    margin-left: 0
  }
  .style8 {
    margin-left: 250px
  }
  .row31 {
    display: flex;
    margin-left: 201px;
    margin-top: 5px;
    width: 491px;
    height: 12px;
    align-items: stretch
  }
  .style10 {
    color: #fd9;
    font-size: .7666666666666666em;
    margin-left: 0
  }
  .style10,
  .style5,
  .style6,
  .style7 {
    font-family: arialmt,serif
  }
  .style7 {
    font-size: .7666666666666666em;
    margin-left: 243px;
    color: #fd9
  }
  .style5,
  .style6 {
    color: #fff;
    text-align: center
  }
  .style6 {
    letter-spacing: 2px;
    font-size: 1.38em;
    margin-left: 368px;
    margin-top: 159px;
    height: 20px
  }
  .style5 {
    font-size: .7666666666666666em;
    margin-left: 211px;
    margin-top: 32px;
    height: 12px
  }
  .row34 {
    display: flex;
    margin-left: 201px;
    margin-top: 61px;
    width: 341px;
    height: 10px;
    align-items: stretch
  }
  .style0,
  .style1,
  .style2,
  .style3,
  .style4 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: .7666666666666666em;
    margin-left: 0
  }
  .style0,
  .style1,
  .style2,
  .style4 {
    margin-left: 226px
  }
  .style0,
  .style1,
  .style2 {
    margin-left: 201px;
    margin-top: 44px;
    height: 12px
  }
  .style0,
  .style1 {
    font-family: 'Titillium Web',serif;
    font-weight: 600;
    margin-left: 422px;
    margin-top: 157px;
    height: 10px
  }
  .style0 {
    text-align: center;
    font-size: .9199999999999999em;
    margin-left: 159px;
    margin-top: 123px;
    height: 15px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style72 {
    color: #fff;
    font-size: .8em;
    margin-left: 691px;
    margin-top: 58px;
    height: 10px
  }
  .style70,
  .style71,
  .style72 {
    font-family: 'Titillium Web',serif
  }
  .style71 {
    text-align: center;
    line-height: 54px;
    width: 755px;
    color: #f7f3ea;
    font-size: 2em;
    font-weight: 700;
    margin-left: 224px;
    margin-top: 131px
  }
  .style70 {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    margin-left: 547px;
    margin-top: 67px;
    height: 13px
  }
  .style68,
  .style69 {
    color: #fff;
    text-align: center;
    font-family: arialmt,serif
  }
  .style69 {
    letter-spacing: 3px;
    height: 26px;
    font-size: 1.8em;
    margin-left: 403px;
    margin-top: 243px
  }
  .style68 {
    font-size: 1em;
    line-height: 26px;
    margin-left: 349px;
    margin-top: 42px;
    width: 502px
  }
  .row5 {
    display: flex;
    margin-left: 202px;
    margin-top: 224px;
    width: 826px;
    height: 16px;
    align-items: stretch
  }
  .style61,
  .style63,
  .style65,
  .style67 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: 1.2000000000000002em;
    margin-left: 0
  }
  .style61,
  .style63,
  .style65 {
    margin-left: 150px
  }
  .style61,
  .style63 {
    margin-left: 131px
  }
  .style61 {
    margin-left: 90px
  }
  .row6 {
    display: flex;
    margin-left: 170px;
    margin-top: 22px;
    width: 858px;
    height: 54px;
    align-items: stretch
  }
  .style60,
  .style62,
  .style64,
  .style66 {
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web',serif;
    font-size: .8em;
    font-weight: 300;
    line-height: 22px;
    margin-left: 0;
    width: 160px
  }
  .style60,
  .style62,
  .style64 {
    margin-left: 80px;
    width: 144px
  }
  .style60,
  .style62 {
    width: 163px
  }
  .style60 {
    margin-left: 74px;
    width: 157px
  }
  .style58,
  .style59 {
    color: #3c4761;
    text-align: center
  }
  .style59 {
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Titillium Web',serif;
    font-size: 2em;
    margin-left: 358px;
    margin-top: 205px;
    height: 26px
  }
  .style58 {
    font-family: arialmt,serif;
    font-size: 1em;
    margin-left: 333px;
    margin-top: 42px;
    height: 16px
  }
  .row9 {
    display: flex;
    margin-left: 170px;
    margin-top: 266px;
    width: 858px;
    height: 16px;
    align-items: stretch
  }
  .style48,
  .style51,
  .style54,
  .style57 {
    color: #27283d;
    font-family: 'Titillium Web',serif;
    font-size: 1.2000000000000002em;
    font-weight: 700;
    margin-left: 0
  }
  .style48,
  .style51,
  .style54 {
    color: #3c4761;
    margin-left: 96px
  }
  .style48,
  .style51 {
    margin-left: 115px
  }
  .style48 {
    margin-left: 102px
  }
  .row10 {
    position: relative;
    display: flex;
    margin-left: 186px;
    margin-top: 13px;
    width: 816px;
    height: 13px;
    align-items: stretch
  }
  .style47,
  .style50,
  .style53,
  .style56 {
    color: #30bae7;
    text-align: center;
    font-family: 'Titillium Web',serif;
    font-size: .8em;
    margin-left: 0;
    flex-shrink: 0
  }
  .style47,
  .style50,
  .style53 {
    margin-left: 118px
  }
  .style47,
  .style50 {
    position: relative;
    margin-left: 144px
  }
  .style47 {
    margin-left: 147px
  }
  .row11 {
    display: flex;
    margin-left: 170px;
    margin-top: 22px;
    width: 858px;
    height: 93px;
    align-items: stretch
  }
  .style52,
  .style55 {
    color: #3c4761;
    text-align: center;
    width: 163px
  }
  .style55 {
    font-family: 'Titillium Web',serif;
    font-size: .8em;
    font-weight: 300;
    line-height: 22px;
    margin-left: 0
  }
  .style52 {
    margin-left: 70px
  }
  .style46,
  .style49,
  .style52 {
    font-family: 'Titillium Web',serif;
    font-size: .8em;
    font-weight: 300;
    line-height: 22px
  }
  .style49 {
    color: #3c4761;
    text-align: center;
    margin-left: 67px;
    width: 170px
  }
  .style46 {
    margin-left: 80px;
    width: 144px
  }
  .style44,
  .style45,
  .style46 {
    color: #3c4761;
    text-align: center
  }
  .style45 {
    font-weight: 700;
    letter-spacing: 3px;
    height: 26px;
    font-family: 'Titillium Web',serif;
    font-size: 1.8em;
    margin-left: 464px;
    margin-top: 256px
  }
  .style44 {
    font-family: arialmt,serif;
    font-size: 1em;
    line-height: 26px;
    margin-left: 365px;
    margin-top: 42px;
    width: 474px
  }
  .row14 {
    display: flex;
    margin-left: 224px;
    margin-top: 122px;
    width: 762px;
    height: 29px;
    align-items: stretch;
    justify-content: space-between
  }
  .style37,
  .style39,
  .style41,
  .style43 {
    color: #3c4761;
    font-family: 'Titillium Web',serif;
    font-size: 2.4000000000000004em;
    font-weight: 300
  }
  .row15 {
    display: flex;
    margin-left: 192px;
    margin-top: 77px;
    width: 790px;
    height: 16px;
    align-items: stretch
  }
  .style36,
  .style38,
  .style40,
  .style42 {
    color: #3c4761;
    font-family: 'Titillium Web',serif;
    font-size: 1.2000000000000002em;
    font-weight: 700;
    margin-left: 0
  }
  .style38,
  .style40,
  .style42 {
    margin-left: 125px
  }
  .style40,
  .style42 {
    margin-left: 106px
  }
  .style42 {
    margin-left: 125px
  }
  .style34,
  .style35 {
    color: #393939;
    text-align: center
  }
  .style35 {
    font-weight: 700;
    letter-spacing: 3px;
    height: 26px;
    font-family: 'Titillium Web',serif;
    font-size: 1.8em;
    margin-left: 464px;
    margin-top: 202px
  }
  .style34 {
    font-family: arialmt,serif;
    font-size: 1em;
    line-height: 26px;
    margin-left: 387px;
    margin-top: 42px;
    width: 429px
  }
  .row18 {
    display: flex;
    margin-left: 467px;
    margin-top: 45px;
    width: 275px;
    height: 13px;
    align-items: stretch
  }
  .style30,
  .style31,
  .style32,
  .style33 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: 1em;
    margin-left: 0
  }
  .style30,
  .style31,
  .style32 {
    margin-left: 51px
  }
  .style30,
  .style31 {
    margin-left: 48px
  }
  .style30 {
    margin-left: 45px
  }
  .row19 {
    display: flex;
    margin-left: 141px;
    margin-top: 61px;
    width: 918px;
    height: 259px;
    align-items: stretch
  }
  .style27,
  .style29 {
    margin-left: 0;
    width: 451px
  }
  .style27 {
    margin-left: 16px
  }
  .row20 {
    display: flex;
    margin-left: 250px;
    margin-top: 26px;
    width: 643px;
    height: 13px;
    align-items: stretch
  }
  .style26,
  .style28 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: 1em;
    margin-left: 0
  }
  .style26 {
    margin-left: 282px
  }
  .row21 {
    display: flex;
    margin-left: 144px;
    margin-top: 54px;
    width: 918px;
    height: 259px;
    align-items: stretch
  }
  .style23,
  .style25 {
    margin-left: 0;
    width: 451px
  }
  .style23 {
    margin-left: 16px
  }
  .row22 {
    display: flex;
    margin-left: 278px;
    margin-top: 26px;
    width: 662px;
    height: 13px;
    align-items: stretch
  }
  .style21,
  .style22,
  .style24 {
    color: #393939;
    font-family: 'Titillium Web',serif;
    font-size: 1em;
    margin-left: 0
  }
  .style21,
  .style22 {
    margin-left: 301px
  }
  .style21 {
    color: #fff;
    font-weight: 600;
    margin-left: 528px;
    margin-top: 93px;
    height: 13px
  }
  .style19,
  .style20 {
    color: #fff;
    text-align: center;
    font-family: arialmt,serif
  }
  .style20 {
    letter-spacing: 3px;
    font-size: 1.8em;
    margin-left: 349px;
    margin-top: 211px;
    height: 26px
  }
  .style19 {
    font-size: 1em;
    margin-left: 538px;
    margin-top: 42px;
    height: 13px
  }
  .row26 {
    display: flex;
    margin-left: 262px;
    margin-top: 67px;
    width: 781px;
    height: 70px;
    align-items: stretch
  }
  .style15,
  .style18 {
    color: #fff;
    font-family: 'Titillium Web',serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 32px;
    font-style: italic;
    margin-left: 0;
    width: 272px
  }
  .style15 {
    margin-left: 218px;
    width: 291px
  }
  .row27 {
    display: flex;
    margin-left: 262px;
    margin-top: 22px;
    width: 621px;
    height: 16px;
    align-items: stretch
  }
  .style14,
  .style17 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: 1.2000000000000002em;
    margin-left: 0
  }
  .style14 {
    margin-left: 365px
  }
  .row28 {
    display: flex;
    margin-left: 262px;
    margin-top: 6px;
    width: 630px;
    height: 16px;
    align-items: stretch
  }
  .style13,
  .style16 {
    color: #fd9;
    font-family: arialmt,serif;
    font-size: 1em;
    margin-left: 0
  }
  .style13 {
    margin-left: 381px
  }
  .row29 {
    display: flex;
    margin-left: 262px;
    margin-top: 128px;
    width: 797px;
    height: 70px;
    align-items: stretch
  }
  .style12,
  .style9 {
    color: #fff;
    font-family: 'Titillium Web',serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 32px;
    font-style: italic;
    margin-left: 0;
    width: 291px
  }
  .style9 {
    margin-left: 198px;
    width: 307px
  }
  .row30 {
    display: flex;
    margin-left: 262px;
    margin-top: 26px;
    width: 611px;
    height: 16px;
    align-items: stretch
  }
  .style11,
  .style8 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: 1.2000000000000002em;
    margin-left: 0
  }
  .style8 {
    margin-left: 326px
  }
  .row31 {
    display: flex;
    margin-left: 262px;
    margin-top: 6px;
    width: 640px;
    height: 16px;
    align-items: stretch
  }
  .style10 {
    color: #fd9;
    font-size: 1em;
    margin-left: 0
  }
  .style10,
  .style5,
  .style6,
  .style7 {
    font-family: arialmt,serif
  }
  .style7 {
    font-size: 1em;
    margin-left: 317px;
    color: #fd9
  }
  .style5,
  .style6 {
    color: #fff;
    text-align: center
  }
  .style6 {
    letter-spacing: 3px;
    font-size: 1.8em;
    margin-left: 480px;
    margin-top: 208px;
    height: 26px
  }
  .style5 {
    font-size: 1em;
    margin-left: 275px;
    margin-top: 42px;
    height: 16px
  }
  .row34 {
    display: flex;
    margin-left: 262px;
    margin-top: 80px;
    width: 445px;
    height: 13px;
    align-items: stretch
  }
  .style0,
  .style1,
  .style2,
  .style3,
  .style4 {
    color: #fff;
    font-family: arialmt,serif;
    font-size: 1em;
    margin-left: 0
  }
  .style0,
  .style1,
  .style2,
  .style4 {
    margin-left: 294px
  }
  .style0,
  .style1,
  .style2 {
    margin-left: 262px;
    margin-top: 58px;
    height: 16px
  }
  .style0,
  .style1 {
    font-family: 'Titillium Web',serif;
    font-weight: 600;
    margin-left: 550px;
    margin-top: 205px;
    height: 13px
  }
  .style0 {
    text-align: center;
    font-size: 1.2000000000000002em;
    margin-left: 208px;
    margin-top: 160px;
    height: 19px
  }
}